.Container{
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 66, 8);
    color: white;
    padding: 1rem 2rem;
}
.Container div:first-of-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}
.Container .ListPage{
    display: flex; 
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.Container .ListPage li a{
    padding: .5rem 2rem;
    color: white;
    text-decoration: none;
}