.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #0000002e;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.is-open{
    display: flex;
}
.modal-container{
    background-color: royalblue; /* sacar despues */
}