.quantityInCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#BtnLeft, #BtnRight{
    background-color: rgb(231 229 229 / 73%);
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.InputNumber{
    background: none;
    width: 1.5rem;
    height: auto;
    text-align: center;
    outline: none;
    border: none;
}
    
#killProduct{
    border: none;
    outline: none;
    background: none;
    position: absolute;
    right: 0;
    cursor: pointer;
}
/* ------------------- */

.quantityInProductSpecif{
    display: flex;
    width: max-content;
}
.quantityInProductSpecif div:first-of-type{
    display: flex;
    flex-direction: column-reverse;
    margin-right: 1.5rem;
}
#BtnIncrement ,#BtnDecrement{
    cursor: pointer;
    border: none;
    padding: 2px 8px;
    font-size: 20px;
}
.quantityInProductSpecif .InputNumber{
    padding: 1rem;
    border: 1px solid rgb(231 229 229 / 73%);
    outline: none;
}
.quantityInProductSpecif button{
    font-size: 11px;
    outline: none;
}