.quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#BtnLeft, #BtnRight{
    background-color: rgb(231 229 229 / 73%);
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

input{
    background: none;
    width: 1.5rem;
    height: auto;
    text-align: center;
    outline: none;
    border: none;
}
    
#killProduct{
    border: none;
    outline: none;
    background: none;
    position: absolute;
    right: 0;
    cursor: pointer;
}